-i https://pypi.org/simple/
alembic==1.5.7
click==7.1.2
flask-migrate==2.5.2
flask-sqlalchemy==2.4.0
flask==1.1.1
greenlet==1.0.0 ; python_version >= '3'
gunicorn==19.9.0
importlib-metadata==3.7.3 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
mako==1.1.4
markupsafe==1.1.1
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
six==1.15.0
sqlalchemy==1.4.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
werkzeug==1.0.1
zipp==3.4.1
